.espac{
    height: 35px;
}

.espac2{
    width: 20px;
}

.titulo{
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;

}

.imageB{
    display: flex;
    align-self: center;
    justify-content: center;
    padding-bottom: 20px;
    

}

.intro, .textoGeral, .CF, .ass{
    display: flex;

    text-align: justify;
    flex-direction: column;

    padding-left: 10vw;
    padding-right: 10vw;

    font-size: 20px;
}

.lign{
    display: flex;
    flex-direction: row;

    align-items: baseline;
}

.imageB img{
    box-shadow: rgba(50, 50, 93, 0.5) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 15px;
}

@font-face {
    font-family: "MTS-Bold";
    src: url(Montserrat-Bold.otf);
}

@font-face {
    font-family: "MTS-Regular";
    src: url(Montserrat-Regular.otf);
}

@font-face {
    font-family: "MTS-Medium";
    src: url(Montserrat-Medium.otf);
}

.titulo h3{
    font-family: "MTS-Bold";
}

.Geral h3{
    font-family: "MTS-Medium";
}

.Geral p{
    font-family: "MTS-Regular";
}

  .price{
    display: flex;

    align-items: baseline;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 20px;
  }

  .ass h3, .price h3{
    font-family: "MTS-Medium";
    color: rgb(255, 30, 30);
  }

  .ass p, .price p{
    font-family: "MTS-Regular";
    color: rgb(255, 90, 90);
  }

  .ass p, .ass h3{
    font-size: 18px;
  }

  .button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  
  .button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .button-82-front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .button-82-pushable:focus:not(:focus-visible) {
    outline: none;
  }

  .icon{
    display: flex;
    justify-content: flex-end;

    position: fixed;

    width: 150px;
}

.icon img{
    width: 150px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}